<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DBMS project</title>
  <link rel="stylesheet" href="/Styles/styles.css">
</head>

<body>
  <div class="card">
    <div class="content">
      <h2>Who are you?</h2>
      <a href="#">
        <div class="ccp">
          Chief Commissioner of Police
        </div>
      </a>
      <a href="#1">
        <div class="judge">
          Judge
        </div>
      </a>
      <a href="#2">
        <div class="police">
          Police officer
        </div>
      </a>
    </div>
  </div>
</body>

</html>