<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <div class="container">
        <div class="child1">
            <img src="/pics/tm.jpg" alt="" width="50px" height="30px" style="margin: 20px" />
            <div class="content" id="content">
                <h1 style="color: #6e3cbc; margin-bottom: 50px; font-size: 2rem">
                    Login
                </h1>
                <div class="input">
                    <ul>
                        <li>
                            <input type="text" placeholder="Enter your name" style="margin-bottom: 50px" />
                        </li>
                        <li><input type="password" placeholder="Enter your password" /></li>
                    </ul>
                </div>
                <div class="action">
                    <span class="reg">
                        <h3 style="font-size: 1rem; color: #989898; padding: 10px 20px; cursor: pointer;"
                            onclick="one()">
                            Register?
                        </h3>
                    </span>
                </div>
                <a href="/homeJud">
                    <button> Login</button>
                </a>
            </div>
            <div class="child11" id="child11">

                <div class="content1">
                    <h1 style="color: #6e3cbc; margin-bottom: 50px; font-size: 2rem">
                        Signup
                    </h1>
                    <div class="input">
                        <ul>
                            <li>
                                <input type="text" placeholder="Enter your name" style="margin-bottom: 50px" />
                            </li>
                            <li><input type="password" placeholder="Enter your password" /></li>
                        </ul>
                    </div>
                    <div class="action">
                        <span class="reg">
                            <h3 style="font-size: 1rem; color: #989898; padding: 10px 20px ;cursor: pointer;"
                                onclick="two()">
                                Login?
                            </h3>
                        </span>
                    </div>
                    <a href="/homeJud"><button>Signup </button></a>
                    </a>
                </div>
            </div>
        </div>



        <div class="child2">
            <h2>CaseNet</h2>
            <p>Save a life & ditch your knife</p>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>